@model List<Lab11_TimePerson.Models.TimePerson>
<!--Traverse through the Model and output each of the line items in the csv file.-->
<!--9 columns. output each line item-->
<!Doctype html>

<head>
    <title>Results Page</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
</head>
<body>
    <table>
        <thread>
            <tr>
                <td>Year</td>
                <td>Honor</td>
                <td>Name</td>
                <td>Country</td>
                <td>Birth Year</td>
                <td>Death Year</td>
                <td>Title</td>
                <td>Category</td>
                <td>Context</td>
            </tr>
        </thread>
    @foreach (var person in Model)
    {
    <tbody>
        <tr>
            <td>@person.Year</td>
            <td>@person.Honor</td>
            <td>@person.Name</td>
            <td>@person.Country</td>
            <td>@person.BirthYear</td>
            <td>@person.DeathYear</td>
            <td>@person.Title</td>
            <td>@person.Category</td>
            <td>@person.Context</td>
        </tr>
    </tbody>
    }
    </table>
</body>


