@model List<Lab11_TimePerson.Models.TimePerson>
<!--Traverse through the Model and output each of the line items in the csv file.-->
<!--9 columns. output each line item-->
<!Doctype html>

<head>
    <title>Results Page</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Times Person</h1>
            @foreach (var item in Model)
            {
                <p>
                    @item.Year | @item.Year | @item.Year | @item.Honor | @item.Name | @item.Country | @item.BirthYear
                    @item.Title | @item.Category | @item.Context
                </p>
            }
        </div>
    </div>
</body>


