@model List<Lab11_TimePerson.Models.TimePerson>
<!--Traverse through the Model and output each of the line items in the csv file.-->
<!--9 columns. output each line item-->
<!Doctype html>

<head>
    <title>Results Page</title>
    <link rel="stylesheet" href="~/styles/StyleSheet.css" type="text/css" />
</head>
<body>
    <h1>Times Person</h1>

    @foreach (var item in Model)
    {
        <div>
            <table>
                <tr>
                    <th>Year</th>
                    <th>Honor</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Birth Year</th>
                    <th>Death Year</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Context</th>
                </tr>
                <tr>
                    <td>@item.Year</td>
                    <td>@item.Honor</td>
                    <td>@item.Name</td>
                    <td>@item.Country</td>
                    <td>@item.BirthYear</td>
                    <td>@item.DeathYear</td>
                    <td>@item.Title</td>
                    <td>@item.Category</td>
                    <td>@item.Context </td>
                </tr>
            </table>
        </div>
    }

</body>


